@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: black;
    color: white;
    font-family: monospace;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    font-size: large;
}
a {
    text-decoration: underline;
    color: pink;
}
ol {
    padding: 10px 10px 10px 10px
}
li {
    list-style-type: circle;
    margin-left: 15px;
}
@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

h1 {
    flex: auto;
    font-size: 3em;
    margin: 5px 0px;
    padding: 5px 0px;
    text-align: center;
    justify-content: center;
    
    font-weight: bolder;
    background: linear-gradient(to bottom left, white, pink);
    -webkit-background-clip: text;
    background-size: 200% 200%;
    color: transparent;
    display: flex;
    animation: gradientAnimation 2s ease infinite;

}
h2 {
    font-size: large;
    margin: 5px 0px;
    padding: 5px 0px;
    text-decoration: underline;
    font-weight: bold;
    background: linear-gradient(to bottom left, white, pink);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
}
p {
    margin: 10px 0px 10px 0px
}

img {
    object-fit: contain;
    max-width: 250px;
    flex: auto;
 }

.main {
    max-width: 500px;
    text-align: left;
    justify-content: center;

 }

