@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: black;
    color: white;
    font-family: monospace;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    font-size: large;
}
a {
    text-decoration: underline;
    color: pink;
}
ol {
    padding: 10px 10px 10px 10px;
    list-style-type: decimal;

}
ul {
  list-style-type: disc;
}
li {
    margin-left: 15px;
}
@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  @keyframes fadeInMove {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  blockquote {
    background-color: #000; /* Black background */
    color: #ffc0cb; /* Pink text color */
    border-left: 2px solid #ffc0cb; /* Pink accent on the left border */
    padding: 5px;
    margin: 5px 0;
    font-style: italic;
    animation: fadeInMove 1s ease forwards; /* Apply the animation */
  }
  
  /* Ensure the animation only plays once when the element is in view */
  blockquote:in-viewport {
    animation-play-state: running;
  }

h1 {
    flex: auto;
    font-size: 2em;
    margin: 5px 0px;
    padding: 5px 0px;
    text-align: left;
    justify-content: left;
    
    font-weight: bolder;
    background: linear-gradient(to bottom left, white, pink);
    -webkit-background-clip: text;
    background-size: 200% 200%;
    color: transparent;
    display: flex;
    animation: gradientAnimation 2s ease infinite;

}
h2 {
    font-size: 1.5em;
    margin: 5px 0px;
    padding: 5px 0px;
    font-weight: bolder;
    background: linear-gradient(to bottom left, white, pink);
    -webkit-background-clip: text;
    background-size: 200% 200%;
    color: transparent;
    display: flex;
    animation: gradientAnimation 2s ease infinite;
}

h3 {
  font-size: 1.2em; /* Smaller than h2 */
  margin: 5px 0px;
  padding: 5px 0px;
  text-align: left; /* Left-aligned text */
  font-weight: bold; /* Bold font weight */
  color: pink; /* Pink text color */
  background-color: black; /* Black background */
  display: block; /* Block display */
  /* Subtle pulsing animation */
}

h4 {
  font-size: smaller;
  align-items: left;
  justify-content: left;
  flex: auto;
  text-align: left;
  margin: 5px 0px;
  padding: 5px 0px;
}

.timestamps {
  font-size: x-small;
  align-items: center;
  align-content: center;
  margin: 10px 0px 10px 0px

}

p {
  margin: 10px 0px 10px 0px
}

@keyframes imageFuzzInSlide {
  0% {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
  }
  50% {
    opacity: 0.5;
    filter: blur(2px);
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

img {
    object-fit: contain;
    max-width: 250px;
    width: 250px;
    height: 250px;
    display: block;
    margin: auto;
    animation: imageFuzzInSlide 1.5s ease-in-out forwards;
}

.main {
    max-width: 500px;
    text-align: left;
    justify-content: center;
}

.menuButton {
  flex: auto;
  left: 50%; /* Center the button horizontally */
  bottom: 10px; /* Distance from the bottom */
  background-color: black; /* Background color */
  color: pink; /* Text color */
  text-align: center; /* Center text */
  /* Fade-in animation */
  opacity: 0;
  animation: fadeIn 2s ease forwards;
  width: 100%;
  padding-bottom: 50px;
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.bottomSpace  {
  margin-top: 5px;
  padding-top: 5px;
}

.highlight {
  background: linear-gradient(to top, #ff69b4, #000);
  color: white;
  animation: pulse 3s infinite alternate;
  border-radius: 5px; /* Add rounded edges */
}

@keyframes pulse {
  0% {
      opacity: 0.8;
  }
  100% {
      opacity: 0.9;
  }
}

code {
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  border-left: 3px solid #ff69b4; /* Pink accent on the left border */
  padding: 10px;
  margin: 10px 0;
  overflow-x: auto; /* Ensures the content is scrollable horizontally if it's too wide */
  font-family: 'Courier New', monospace; /* Monospaced font for better code readability */
  border-radius: 4px; /* Slightly rounded corners for a softer look */
}

/* Optional: Add a hover effect to highlight code blocks on mouse-over */
code:hover {
  border-color: #ff8ec7; /* Lighter shade of pink for the accent */
}

.disclaimer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.disclaimerText {
  font-size: smaller;
  color: pink;
  opacity: 80%;
}